In [186]:
## Analysis on Question

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

question =pd.read_csv("data/questions.csv", index_col=False)
question=question.rename(columns={'StateAbbr':'State',
                      'QuestionUno':'QuestionID',
                      'CategoryUno':'CategoryID',
                      'SubcategoryUno':'SubcategoryID',
                      })

question['LegalDeadline'] = pd.to_datetime(question['LegalDeadline'], format='%Y/%m/%dT%H:%M:%S', errors='coerce')
question

,Id,State,QuestionID,CategoryID,Category,SubcategoryID,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline
0,1,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaN,NaN,2019-08-13 15:09:06,2019-07-08
1,2,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaN,NaN,2019-08-13 15:09:14,NaT
2,3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaT
3,4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaT
4,5,NC,C4707F71-FE4A-4154-8174-AF00BEE2B361,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",ED7DEA10-CDB7-4A05-891D-889D1EA710BE,2019-06-20 17:04:47,NaN,NaN,NaN,2019-08-13 15:09:20,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202874,202875,NC,376FFF48-9068-4A8F-9316-2EB5A7E38001,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,82BDD11F-2168-4A44-BBFC-BA9B0543F289,2019-06-17 20:37:01,6E43EC98-8700-4439-98A9-52B663CCE348,2019-07-17 19:22:29,6E43EC98-8700-4439-98A9-52B663CCE348,2019-07-27 19:26:43,NaT
202875,202876,NC,98AA49B1-D423-4D12-9E70-A5BD6663DFE5,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,FF2959DA-CCA4-415A-BA9B-2D51F860C08D,2019-06-18 13:06:00,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 03:07:59,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:56,2019-06-18
202876,202877,NC,B80305AA-7509-436E-AFF8-6B33AC682730,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,35133217-A30F-42A7-8EB4-E15A03026247,2019-06-18 15:33:13,NaN,NaN,NaN,2019-08-13 15:10:18,2019-06-27
202877,202878,NC,DC374484-7C6E-44A3-9DB7-89B8868518F1,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,26D3CE4B-3540-477E-BA03-78EF65769A12,Other,A40F8543-330C-43A1-97AC-53C01FD4013E,2019-06-19 03:23:46,6E43EC98-8700-4439-98A9-52B663CCE348,2019-06-24 14:47:57,6E43EC98-8700-4439-98A9-52B663CCE348,2019-06-28 21:59:13,2019-07-01
202878,202879,NC,1F2F2FC1-4661-4A14-A7BE-43E883D1BD44,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,43228290-518B-48CA-8E39-D7A438CDCC2B,2019-06-19 20:34:08,NaN,NaN,NaN,2019-08-13 15:09:01,NaT

In [ ]:
#Findout on question post, how average messages needed for each question --> solved case, groupby category

In [42]:
question['Id'].count()

202879

There is 202.879 questions asked in total

In [99]:
question.isnull().sum()

Id                          0
State                       0
QuestionID                  0
CategoryID                  0
Category                    0
SubcategoryID               0
Subcategory                 0
AskedByClientUno           38
AskedOnUtc                  0
TakenByAttorneyUno      58874
TakenOnUtc              57228
ClosedByAttorneyUno     65092
ClosedOnUtc              3794
LegalDeadline          158935
dtype: int64

Here is few conditions to decide if the case is considered as unsolved, solved, or not taken:

Unsolved if:
- if the case is taken by an attorney or volunteer, but the legal deadline date is before the closed question date
- if the case is taken by an attorney or volunteer, but there's no further update

Not taken if:
- if the case is not taken 

Solved if:
- if the case is taken by an attorney or volunteer, and the point that is mentioned in the unsolved case doesn't happen

In [145]:
mask = question['ClosedByAttorneyUno'].isnull() & question['ClosedOnUtc'].isnull()

# filter the DataFrame using the mask
result = question[mask]

# print the result
print(result)

            Id State                            QuestionID  \
1726      1727    NJ  AD4FDC14-A650-4769-975C-08E14BD6F24D
1730      1731    NJ  6B467222-E171-4A21-B3BC-0BF5E08745A0
1734      1735    NJ  3EDE582F-51B7-4939-AD56-540AAC5A6F8D
1738      1739    NJ  9C2E9489-F3E4-4DAF-94F1-7AB03A04E4A6
1739      1740    NJ  75FFC06F-6723-4456-A23D-0FD143680865
...        ...   ...                                   ...
196910  196911    WY  E58BCED5-D33F-44EA-94F8-D68042A90AF8
196911  196912    WY  73E74F0A-993C-4DAF-B19B-927571076A98
196912  196913    WY  D78EA017-7A73-4D97-B026-167F43FBD786
196922  196923    AZ  E8BE2ADE-D110-4C0D-BF99-CA7E2AB5A111
196925  196926    AZ  B99E685A-79DC-4B03-AEFD-FD38146B31A6

                                  CategoryID                      Category  \
1726    B705448D-983B-4CE2-AF62-ACD6B4109DC2                     Education
1730    E7BE2437-79DD-40D3-AFE1-1C981B6FED18                         Other
1734    E7BE2437-79DD-40D3-AFE1-1C981B6FED18                         Other
1738    13334025-BF4E-40EB-B71C-611CB4AB9D2E  Consumer Financial Questions
1739    E7BE2437-79DD-40D3-AFE1-1C981B6FED18                         Other
...                                      ...                           ...
196910  B493CC26-B797-4A33-BEED-7C7146A3300A           Family and Children
196911  E2E045B5-A46D-4FE4-9836-B55EBB7BE7C5      Housing and Homelessness
196912  B493CC26-B797-4A33-BEED-7C7146A3300A           Family and Children
196922  CD95B63C-0FA5-48D4-966F-4D5194495F72                         Other
196925  CD95B63C-0FA5-48D4-966F-4D5194495F72                         Other

                               SubcategoryID                Subcategory  \
1726    E462395B-DA62-448E-8558-32138568BB29          Special Education
1730    22588BD0-61CF-400A-99D0-29373AA893F7                      Other
1734    22588BD0-61CF-400A-99D0-29373AA893F7                      Other
1738    A1BF13FF-BD68-408E-82AB-E7C2576AA386          Debts & Purchases
1739    22588BD0-61CF-400A-99D0-29373AA893F7                      Other
...                                      ...                        ...
196910  7820FAD7-6BDF-47AD-88A2-2DB5C6C6FA70     Family/Divorce/Custody
196911  0110E9E9-F52A-45B2-BB92-6175D920AF37  Housing or Property Owned
196912  F2C650A2-5B9B-44FA-8BA3-35FF33A04733          Wills/Inheritance
196922  38A26065-E253-42DA-A0B7-4ACD409350B4                Expungement
196925  38A26065-E253-42DA-A0B7-4ACD409350B4                Expungement

                            AskedByClientUno          AskedOnUtc  \
1726    367E06A8-9281-448D-9717-C75ABA99D73B 2022-01-03 17:35:16
1730    F5F45D81-A09B-40C1-97F4-B38AFF3CDFAC 2022-01-07 18:31:10
1734    935D53FD-86E7-4244-A434-A3F52D9D44B4 2022-01-12 21:30:27
1738    9BB817D6-1D0D-4A5B-BBA0-99C06C2784D9 2022-01-18 20:13:23
1739    F7159E05-E1DA-4EF4-A6A2-E1730D7C846D 2022-01-19 05:22:00
...                                      ...                 ...
196910  97185787-0603-42CB-BD4E-80487D8959B8 2022-01-23 12:57:16
196911  5ECE026B-515C-4A9A-962A-C70601B56E63 2022-01-24 16:57:27
196912  87A8BE39-73C2-47A2-8FC9-7D1CE0F8E905 2022-01-24 19:40:52
196922  F3E989CA-6ED8-4BC3-98F4-C9956124C9CA 2017-02-24 19:18:46
196925  2B0672BB-2129-4D20-A559-095C5771741C 2017-02-28 16:31:42

                          TakenByAttorneyUno          TakenOnUtc  \
1726                                     NaN                 NaT
1730                                     NaN                 NaT
1734                                     NaN                 NaT
1738    931E5151-08CE-4BF0-9070-266A6E2F1930 2022-01-22 02:22:57
1739    931E5151-08CE-4BF0-9070-266A6E2F1930 2022-01-19 13:45:55
...                                      ...                 ...
196910                                   NaN                 NaT
196911  323CC3D0-917D-4F86-80FD-5F8564194A2E 2022-01-24 17:51:48
196912                                   NaN                 NaT
196922  DC198C43-50E0-4528-9094-C9B97FA4546E 2017-02-24 19:28:15
196925  DC198C43-50E0-4528-9094-C9B97FA4546E 2017-03-01 15:36:06

       ClosedByAttorneyUno ClosedOnUtc LegalDeadline  Year_QAsked
1726                   NaN         NaT           NaT         2022
1730                   NaN         NaT           NaT         2022
1734                   NaN         NaT           NaT         2022
1738                   NaN         NaT           NaT         2022
1739                   NaN         NaT      00:00:00         2022
...                    ...         ...           ...          ...
196910                 NaN         NaT           NaT         2022
196911                 NaN         NaT      00:00:00         2022
196912                 NaN         NaT           NaT         2022
196922                 NaN         NaT           NaT         2017
196925                 NaN         NaT      04:00:00         2017

[3794 rows x 15 columns]

In [117]:
question

,Id,State,QuestionID,CategoryID,Category,SubcategoryID,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline,Year_QAsked
0,1,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaT,NaN,2019-08-13 15:09:06,2019-07-08 00:00:00,2019
1,2,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaT,NaN,2019-08-13 15:09:14,NaN,2019
2,3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN,2019
3,4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaN,2019
4,5,NC,C4707F71-FE4A-4154-8174-AF00BEE2B361,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",ED7DEA10-CDB7-4A05-891D-889D1EA710BE,2019-06-20 17:04:47,NaN,NaT,NaN,2019-08-13 15:09:20,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202874,202875,NC,376FFF48-9068-4A8F-9316-2EB5A7E38001,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,82BDD11F-2168-4A44-BBFC-BA9B0543F289,2019-06-17 20:37:01,6E43EC98-8700-4439-98A9-52B663CCE348,2019-07-17 19:22:29,6E43EC98-8700-4439-98A9-52B663CCE348,2019-07-27 19:26:43,NaN,2019
202875,202876,NC,98AA49B1-D423-4D12-9E70-A5BD6663DFE5,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,FF2959DA-CCA4-415A-BA9B-2D51F860C08D,2019-06-18 13:06:00,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 03:07:59,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:56,2019-06-18 00:00:00,2019
202876,202877,NC,B80305AA-7509-436E-AFF8-6B33AC682730,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,E3257971-6837-4BAD-B00D-E4040F0C8B8A,Civil Procedure,35133217-A30F-42A7-8EB4-E15A03026247,2019-06-18 15:33:13,NaN,NaT,NaN,2019-08-13 15:10:18,2019-06-27 00:00:00,2019
202877,202878,NC,DC374484-7C6E-44A3-9DB7-89B8868518F1,E6F4FD7C-FCE9-4763-AADD-0544158DE0BB,Other,26D3CE4B-3540-477E-BA03-78EF65769A12,Other,A40F8543-330C-43A1-97AC-53C01FD4013E,2019-06-19 03:23:46,6E43EC98-8700-4439-98A9-52B663CCE348,2019-06-24 14:47:57,6E43EC98-8700-4439-98A9-52B663CCE348,2019-06-28 21:59:13,2019-07-01 00:00:00,2019
202878,202879,NC,1F2F2FC1-4661-4A14-A7BE-43E883D1BD44,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,43228290-518B-48CA-8E39-D7A438CDCC2B,2019-06-19 20:34:08,NaN,NaT,NaN,2019-08-13 15:09:01,NaN,2019

In [174]:
# convert the 'date' column to datetime format
question['AskedOnUtc'] = pd.to_datetime(question['AskedOnUtc'])
question['TakenOnUtc'] = pd.to_datetime(question['TakenOnUtc'])
question['ClosedOnUtc'] = pd.to_datetime(question['ClosedOnUtc'])

#year of question asked
question['Year_QAsked'] = question['AskedOnUtc'].dt.year

Unsolved if:
- if the case is taken by an attorney or volunteer, but the legal deadline date is before the closed question date
- if the case is taken by an attorney or volunteer, but there's no further update (no attorney close the question)

Not taken if:
- if the case is not taken 

Solved if:
- if the case is taken by an attorney or volunteer, and the point that is mentioned in the unsolved case doesn't happen

In [138]:
question['TakenByAttorneyUno'] = question['TakenByAttorneyUno'].str.replace('\s+', '')

C:\Users\Maverick\AppData\Local\Temp\ipykernel_21108\429962002.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  question['TakenByAttorneyUno'] = question['TakenByAttorneyUno'].str.replace('\s+', '')

In [150]:
question['LegalDeadline'] < question['ClosedOnUtc'] or question['ClosedByAttorneyUno'].isna() ==True

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [169]:
question['TakenByAttorneyUno'].isna() == False

0         False
1         False
2          True
3          True
4         False
          ...
202874     True
202875     True
202876    False
202877     True
202878    False
Name: TakenByAttorneyUno, Length: 202879, dtype: bool

In [167]:
if question['TakenByAttorneyUno'].isna() == False:
    if (question['LegalDeadline'] < question['ClosedOnUtc']) | (question['ClosedByAttorneyUno'].isna()):
        question['Case_Conclusion'] = 'Unsolved'
    else:
        question['Case_Conclusion'] = 'Solved'
else:
    question['Case_Conclusion']='Not taken'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [93]:
idx = [[question['differences'] < timedelta(days=10)] or [question['differences'] != [NULL, "NaN"]] and question['ClosedByAttorneyUno'] != ["NaN",NULL]
question['Case_Conclusion']=idx

question['Case_Conclusion']=question['Case_Conclusion'].replace({True: "Solved", False: "Unsolved"})
question

SyntaxError: invalid syntax (2017360716.py, line 2)

In [89]:
#Case if differences is either NULL or >=10 days, and closedbyAttorney is Nan, it is marked as unsolved
idx = [[question['differences'] < timedelta(days=10)] or [question['differences'] != NULL]] and question['ClosedByAttorneyUno'] == "NaN"
idx

0         False
1         False
2         False
3         False
4         False
          ...
202874    False
202875    False
202876    False
202877    False
202878    False
Name: ClosedByAttorneyUno, Length: 202879, dtype: bool

Based on the information:
- there is around 71% response rate from attorney

In [21]:
question.describe()

                  Id
count  202879.000000
mean   101440.000000
std     58566.266969
min         1.000000
25%     50720.500000
50%    101440.000000
75%    152159.500000
max    202879.000000

In [23]:
question.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202879 entries, 0 to 202878
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Id                   202879 non-null  int64
 1   State                202879 non-null  object
 2   QuestionID           202879 non-null  object
 3   CategoryID           202879 non-null  object
 4   Category             202879 non-null  object
 5   SubcategoryID        202879 non-null  object
 6   Subcategory          202879 non-null  object
 7   AskedByClientUno     202841 non-null  object
 8   AskedOnUtc           202879 non-null  object
 9   TakenByAttorneyUno   144005 non-null  object
 10  TakenOnUtc           145651 non-null  object
 11  ClosedByAttorneyUno  137787 non-null  object
 12  ClosedOnUtc          199085 non-null  object
 13  LegalDeadline        43944 non-null   object
dtypes: int64(1), object(13)
memory usage: 21.7+ MB

In [26]:
question.columns

Index(['Id', 'State', 'QuestionID', 'CategoryID', 'Category', 'SubcategoryID',
       'Subcategory', 'AskedByClientUno', 'AskedOnUtc', 'TakenByAttorneyUno',
       'TakenOnUtc', 'ClosedByAttorneyUno', 'ClosedOnUtc', 'LegalDeadline'],
      dtype='object')

In [171]:
time =pd.read_csv("data/attorneytimeentries.csv", index_col=False)
time

,Id,StateAbbr,TimeEntryUno,AttorneyUno,Hours,EnteredOnUtc
0,1,AK,44954D1D-C354-41F6-8C33-327E866B6BA3,C126C566-9039-4991-BDD8-0CDD05C27DDF,1.8,2017-01-05 21:25:23
1,2,AL,F1D8F733-1BDB-47FD-BC7C-CB512E2C5A3A,F8C0E3D3-B3A5-42B9-9E2F-2A637BA83D6E,0.4,2020-03-24 01:10:56
2,3,AR,81ED2628-2FF4-4B67-86B1-F9DFEC603C15,34BFCC3D-B107-4164-B405-DEFF63A65B2D,0.4,2016-12-02 23:21:46
3,4,AZ,14B1BCC4-CEF6-4108-AB54-3CDE482845F0,875DB0F4-619B-4A13-8104-85A3C15D90C4,0.8,2015-12-16 20:32:55
4,5,CA,41275A72-CD69-4A42-85FB-E3E4FEE0C316,22746734-D076-4AC8-BA66-50426C01093C,3.0,2020-09-04 00:02:54
...,...,...,...,...,...,...
114608,114609,FL,80806E81-DEBF-4698-A86A-01BD77857D31,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:39:04
114609,114610,FL,748FABE7-CBAE-4CA8-B5FE-7CFF06ECBFDB,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.2,2022-01-24 18:40:05
114610,114611,FL,06045016-F6A3-4BBA-AA5C-38D79A806008,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:42:24
114611,114612,FL,3C1D297C-EF98-445B-B380-B2355437B4B5,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:44:19
114612,114613,FL,16326359-39AF-4FDD-8C05-E14385568D07,EB1EEEC7-AB79-4434-BA83-D77AFE1F1635,0.1,2022-01-24 21:39:07

In [172]:
time.describe()

                  Id          Hours
count  114613.000000  114613.000000
mean    57307.000000       0.391737
std     33086.067539       0.692430
min         1.000000       0.000000
25%     28654.000000       0.100000
50%     57307.000000       0.200000
75%     85960.000000       0.400000
max    114613.000000      49.500000

In [182]:
question.Category.unique()

array(['Family and Children', 'Individual Rights',
       'Consumer Financial Questions', 'Housing and Homelessness',
       'Other', 'Income Maintenance', 'Health and Disability',
       'Work, Employment and Unemployment', 'Juvenile', 'Education'],
      dtype=object)

In [187]:
questionpost =pd.read_csv("data/questionposts.csv", index_col=False)
questionpost

C:\Users\Maverick\AppData\Local\Temp\ipykernel_21108\2512914093.py:1: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,407,408) have mixed types. Specify dtype option on import or set low_memory=False.
  questionpost =pd.read_csv("data/questionposts.csv", index_col=False)

,Id,StateAbbr,QuestionUno,PostText,CreatedUtc,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 399,Unnamed: 400,Unnamed: 401,Unnamed: 402,Unnamed: 403,Unnamed: 404,Unnamed: 405,Unnamed: 406,Unnamed: 407,Unnamed: 408
0,1,AK,B7C95D50-6C81-4E61-BC16-81077B7D3F7E,Do you still need help with this issue? It ha...,4/25/18 18:09,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AK,C579CE49-6B7A-44E7-A203-5D3E52623804,"Anyone?,",4/17/18 21:15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AK,F3A78AD3-D3D4-447F-BEAF-F62F1D1D4CCE,"Yes, those are the right forms. I'm sorry, I ...",4/18/18 17:51,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,AK,5F8506D3-D9F1-48EE-8081-D30259DBF4E8,"Hi ###,You do make some good points. The diff...",4/18/18 22:15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,AK,B4C814C9-8983-413F-8BC4-F2BE01665555,My father passed away and I have DNA test resu...,4/12/18 10:52,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356768,356955,UT,D1CD238C-4216-4F3D-BFB4-3C8D28C3B8C6,"Looking at your decree, and just generally as ...",4/25/19 16:29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356769,356956,UT,D1CD238C-4216-4F3D-BFB4-3C8D28C3B8C6,Thank you again for your time. Thus far no one...,4/30/19 13:56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356770,356957,UT,B9A70FE8-71CA-42F2-B7D4-8DE07E7DD41D,My neighbors behind me have ###. He recently c...,4/23/19 22:32,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356771,356958,UT,B9A70FE8-71CA-42F2-B7D4-8DE07E7DD41D,"Hi ###,Thank you for submitting your question....",5/9/19 23:11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356772,356959,UT,B9A70FE8-71CA-42F2-B7D4-8DE07E7DD41D,"Thank You for your response, one problem the #...",5/13/19 15:14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
questionpost.QuestionUno.unique().arr(count)

AttributeError: 'numpy.ndarray' object has no attribute 'arr'

In [191]:
client =pd.read_csv("data/clients.csv", index_col=False)
client

,Id,StateAbbr,ClientUno,County,StateName,PostalCode,EthnicIdentity,Age,Gender,MaritalStatus,Veteran,Imprisoned,NumberInHousehold,AnnualIncome,AllowedIncome,CheckingBalance,SavingsBalance,InvestmentsBalance,CreatedUtc
0,1,MS,B731DA7A-A97A-4A2E-BF11-0A126A05AF70,Washington,Mississippi,73179.0,NaN,NaN,NaN,NaN,NaN,No,3.0,26000.0,37190.0,300.0,NaN,NaN,2016-08-25 15:15:37
1,2,MS,8101DB7C-0CC8-4DE9-9E87-71137269AAD5,Harrison,Mississippi,39560.0,Caucasian,NaN,Male,Divorced or Widowed,NaN,No,2.0,52.0,25390.0,1.0,1.0,NaN,2016-08-26 00:55:17
2,3,GA,DD5F1EFC-8298-457F-BC09-CABBEB57A697,Barrow,Georgia,30157.0,Latino or Hispanic,55.0,Male,Single,NaN,No,5.0,3000.0,60790.0,NaN,NaN,NaN,2016-10-12 14:37:06
3,4,TX,21DC9E3D-D0AA-4B85-88BB-428F5BCF7F13,Lubbock,Texas,79416.0,Other,61.0,Female,Married / remarried,No,No,4.0,15600.0,48990.0,100.0,NaN,NaN,2017-01-01 19:57:07
4,5,ID,3782D4F9-9B16-4BC8-ADA3-F85CEE200630,Boise,Idaho,83705.0,Caucasian,65.0,Male,Single,No,No,1.0,15000.0,13590.0,580.0,25.0,NaN,2017-02-23 00:03:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331421,331422,VA,03092D03-1202-4C99-8927-838FCA7F2A39,Albemarle,Virginia,22901.0,Not Hispanic or Latino,NaN,Female,Single,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 20:23:18
331422,331423,VA,C00B3F98-3714-4599-9B33-3879E58D9F87,Norfolk city,Virginia,23502.0,I'd rather not answer,79.0,Female,Divorced,No,No,2.0,18000.0,25390.0,47.0,15.0,NaN,2022-01-24 20:57:08
331423,331424,VA,8145DA8C-9B10-4429-A3D1-BFF24D6FA73F,Fairfax,Virginia,20191.0,Not Hispanic or Latino,43.0,Female,Separated,No,No,3.0,7200.0,37190.0,150.0,0.0,NaN,2022-01-24 21:24:39
331424,331425,VA,816CA3A7-0ED7-4A51-8DCF-C1A3FB07EC02,Chesterfield,Virginia,23803.0,Not Hispanic or Latino,40.0,Male,Single,No,No,5.0,46000.0,60790.0,150.0,NaN,NaN,2022-01-24 22:50:08
331425,331426,VA,256345E3-BB8A-47E9-A695-09EEEE4D88D2,Virginia Beach city,Virginia,22968.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-25 00:55:52

In [192]:
client.isnull().sum()

Id                         0
StateAbbr                  0
ClientUno                  0
County                   246
StateName                  0
PostalCode             17269
EthnicIdentity         53128
Age                    51556
Gender                 51199
MaritalStatus          51878
Veteran                61669
Imprisoned             50824
NumberInHousehold      50824
AnnualIncome           50861
AllowedIncome          50824
CheckingBalance       119406
SavingsBalance        225133
InvestmentsBalance    318264
CreatedUtc                 0
dtype: int64

In [198]:
client.Age.describe()

count    279870.000000
mean         40.338175
std          13.498671
min           1.000000
25%          30.000000
50%          38.000000
75%          49.000000
max         200.000000
Name: Age, dtype: float64

In [204]:
client.dropna(subset=['Age'], inplace=True)

client.drop(client[(client['Age'] < 18) | (client['Age'] > 120)].index, inplace=True)

In [205]:
client.to_csv('clientupdated.csv', index=False)

In [206]:
attorneytime =pd.read_csv("data/attorneytimeentries.csv", index_col=False)
attorneytime

,Id,StateAbbr,TimeEntryUno,AttorneyUno,Hours,EnteredOnUtc
0,1,AK,44954D1D-C354-41F6-8C33-327E866B6BA3,C126C566-9039-4991-BDD8-0CDD05C27DDF,1.8,2017-01-05 21:25:23
1,2,AL,F1D8F733-1BDB-47FD-BC7C-CB512E2C5A3A,F8C0E3D3-B3A5-42B9-9E2F-2A637BA83D6E,0.4,2020-03-24 01:10:56
2,3,AR,81ED2628-2FF4-4B67-86B1-F9DFEC603C15,34BFCC3D-B107-4164-B405-DEFF63A65B2D,0.4,2016-12-02 23:21:46
3,4,AZ,14B1BCC4-CEF6-4108-AB54-3CDE482845F0,875DB0F4-619B-4A13-8104-85A3C15D90C4,0.8,2015-12-16 20:32:55
4,5,CA,41275A72-CD69-4A42-85FB-E3E4FEE0C316,22746734-D076-4AC8-BA66-50426C01093C,3.0,2020-09-04 00:02:54
...,...,...,...,...,...,...
114608,114609,FL,80806E81-DEBF-4698-A86A-01BD77857D31,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:39:04
114609,114610,FL,748FABE7-CBAE-4CA8-B5FE-7CFF06ECBFDB,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.2,2022-01-24 18:40:05
114610,114611,FL,06045016-F6A3-4BBA-AA5C-38D79A806008,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:42:24
114611,114612,FL,3C1D297C-EF98-445B-B380-B2355437B4B5,B68EB95B-020E-48C0-9B8F-D45BC98A27B7,0.1,2022-01-24 18:44:19
114612,114613,FL,16326359-39AF-4FDD-8C05-E14385568D07,EB1EEEC7-AB79-4434-BA83-D77AFE1F1635,0.1,2022-01-24 21:39:07

In [216]:
data = attorneytime.groupby('AttorneyUno')['Hours'].sum()

In [218]:
df = data.reset_index(name='total hours')

In [219]:
df

                               AttorneyUno  total hours
0     0023FF7C-934D-4974-87A9-B90BE52D4D5B          2.6
1     003C4876-C682-4E94-B161-4BE4B5AD0FBD          0.5
2     00401285-58EE-4E39-9807-87A570C4B9ED          1.6
3     00609EE0-87BE-496A-9847-A711F4569A25          1.0
4     00671667-CEAB-498B-B206-1035682DB33B          1.1
...                                    ...          ...
3962  FFC66FAF-38C4-4520-88DE-19BBD7BF5F26          2.7
3963  FFD551B4-3BB5-4C00-9714-032776657EC0          1.0
3964  FFDDF712-4C58-4DB5-A63E-99355C6448A0          1.2
3965  FFEAC9C9-7C94-4067-860D-AB28F3579E00          0.8
3966  FFEADD85-31FF-42D4-A8B3-BEF4F180D8FD          0.7

[3967 rows x 2 columns]

In [226]:
new=df.sort_values('total hours', ascending=False)
new.head(100)

                               AttorneyUno  total hours
3078  C44F2384-2519-432D-B2B7-06AA4CF65844       1647.0
2229  8C1924A0-AB7E-41D8-8E65-CDAD9346A85F       1046.8
105   05DD8A38-5C07-4796-8ED5-699E05424614        625.9
2951  BBC9EB72-7333-45A8-8A6E-D28DD85BBB8C        622.6
3659  EBB7B7CE-7372-4DDF-8135-EB7AD00517F5        606.4
...                                    ...          ...
603   259E9E2B-B41F-455C-9F1F-A8698F58109B         87.6
2873  B74DDC41-F01E-40CF-8370-10E0BD37F140         87.5
1734  6E43EC98-8700-4439-98A9-52B663CCE348         86.7
768   3066990D-70EE-418E-8E3A-718848DDE027         86.6
2768  AF58625C-FE1D-4BB4-9170-C2C2CABAAE48         86.3

[100 rows x 2 columns]